@import 'mineral-ui-tokens/index.scss';

$navbar-color: #fff;
$navbar-color-collapsed: #eef1ff;
$navbar-bottom-border-color: rgba(#aaa, 0.3);

.navbar-fixed-top {
    border-width: 0 0 1px;
    position: sticky;
    top: 0;
    z-index: 1030;
}

.navbar {
    background: $navbar-color;
    margin: 0 -20px;
    padding: 10px 20px;
    border-bottom: 1px solid $navbar-bottom-border-color;
    text-transform: uppercase;

    @media(min-width:768px) {
        border-bottom: none;
        letter-spacing: 1px;
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
        transition: background .5s ease-in-out, padding .5s ease-in-out;
        &.top-nav-collapse {
            background: $navbar-color-collapsed;
            padding: 0 20px;
            border-bottom: 1px solid rgba($navbar-bottom-border-color, 0.3);
        }
    }

    a {
      box-shadow: none;
    }
}

.nav-brand {
  margin: 0;
  font-weight: 900;
  text-rendering: optimizeLegibility;
  font-size: 1.4427rem;
  line-height: 1.1;

  &__link {
    box-shadow: none;
    text-decoration: none;
    color: inherit;
  }
}
