@import './nav';

.layout {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    &__footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
    }
}
